*~
.*.swp
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/vyatta-cfg-firewall.postinst
/debian/vyatta-cfg-firewall
/scripts/firewall/firewall.init
/INSTALL
/Makefile.in
/Makefile
